/* Customs font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    scroll-behavior: smooth;
}
.line {
    z-index: -1;
}